* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding: 10px;
  background: lightgrey;
  border: 1px solid white;
  border-radius: 5px;
  margin: 3px;
}

.bar {
  height: 3rem;
}

.right {
  float: right;
}

.list li {
  list-style-type: square;
}